name: 'PR Standards Check'
on:
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize

jobs:
  check-pr-title:
    name: PR Title
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install Dependencies
        # yamllint disable rule:line-length
        run: |
          npm install @commitlint/config-conventional
          echo "module.exports = {extends: ['@commitlint/config-conventional'], rules: { 'subject-case': [0,'always',['sentence-case']],'header-max-length': [2, 'always', 120], 'body-max-line-length': [0, 'always', 120] }};" > commitlint.config.js
        # yamllint enable rule:line-length
      - name: Lint the PR Title
        run: |
          echo "${PR_TITLE}" | npx --yes commitlint
        env:
          PR_TITLE: '${{ github.event.pull_request.title }}'
  check-pr-commits:
    name: PR Commit Messages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Configure commit lint
        run: |
          echo "module.exports = {extends: ['@commitlint/config-conventional'], rules: { 'subject-case': [0, 'always', ['sentence-case','lower-case', 'start-case']], 'header-max-length': [2, 'always', 120], 'body-max-line-length': [0, 'always', 120] }};" > commitlint.config.js
      - uses: wagoid/commitlint-github-action@v6.2.1
  apply-labels:
    name: PR Labels
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Apply Herald rules
      uses: gagoar/use-herald-action@v2.3.0
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        rulesLocation: '.github/herald_rule_*.json'
        base: main
        DEBUG: "*"
